@model IEnumerable<MvcCafe.Models.Cafe>

@{
    ViewData["Title"] = "Список ресторанов";
}

<h1>Список ресторанов</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Cafes" asp-action="Admin">
    <p>
        Owner: <input type="password" name="ownerId" />
        <input type="submit" value="OK" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="IncrementCurrentLoad" asp-route-id="@item.Id" asp-route-ownerId="@(ViewData["ownerId"].ToString())" asp-route-incrementValue="-1">-</a>
                @Html.DisplayFor(modelItem => item.CurrentLoad)
                <a asp-action="IncrementCurrentLoad" asp-route-id="@item.Id" asp-route-ownerId="@(ViewData["ownerId"].ToString())" asp-route-incrementValue="1">+</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
